
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

  h1{
    color: rgb(215, 212, 208);
    font-family: 'Poppins', sans-serif;
  }

.header {
    text-align: center;
    
}
::placeholder{
    color: rgb(30, 25, 25);
    font-family: Poppins;
    opacity: .5;
}
input{
    padding-left: 10px;
    width: 25%;
    height: 45px;
    transition: width 0.4s ease-in-out;
    border-color: rgb(33, 28, 28);
    color: rgb(167, 102, 56);
    font-size: large;
    border-radius: 20px 20px 20px 20px;
    
    
}

input:focus {
    width: 50%;
    box-shadow: rgba(23, 22, 22, 0.626) 0px 5px 15px;
  }

.resultBox{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}
.cardBox{
    min-width: 200px;
    margin: 10px;
    width: 22%;
    /* height:30%; */
    /* background-color: rgb(56, 58, 58); */
    /* z-index: 200; */
    padding: 10px;

}
/* .cardImage{
    width: 22%;
    height: 100px;
    display: block;
} */

.titleBook{
    color: rgb(228, 225, 225);
    margin-top: 5px;
    font-family: popins;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }