
*{
/* background-image: url("../public/assest/pic3.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; */
/* background-color:rgba(78, 16, 16, 0.171) ;
z-index: -2; */

}